@font-face {
    font-family: "malgun";
    src: url("../font/malgun.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "malgunbd";
    src: url("../font/malgunbd.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "malgunsl";
    src: url("../font/malgunsl.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "Batang";
    src: url("../font/Batang-01.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "BatangChe";
    src: url("../font/BatangChe-02.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "Gungsuh";
    src: url("../font/Gungsuh-03.ttf") format("truetype"); /* Safari, Android, iOS */
}
@font-face {
    font-family: "GungsuhChe";
    src: url("../font/GungsuhChe-04.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* full 스크린이 되었을 때 백 그라운드가 검정이 되는 것을 막는다 */
:not(:root):fullscreen::backdrop {
    background: #fff
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.view-wrap {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    -moz-user-select: none;
    -webkit-touch-callout:none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222222;
}

.view-wrap .hide{
    display: none !important;
}

.wrap .alt-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;  /* 마이너스라도 포커스를 줄 수 있다고 한다. */
}


.container.menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 50px 27px 20px 27px;
}

.menu .right-menu{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.menu .btn-fullscreen{
    width: 76px;
    height: 76px;
    background: url(../img/btn-fullscreen-on.png) no-repeat;
    background-size: contain;
    cursor: pointer;
}

.menu .btn-fullscreen.off{
    background: url(../img/btn-fullscreen-off.png) no-repeat;
    background-size: contain;
}

.btn-refresh{
    width: 70px;
    height: 76px;
    content: url(../img/btn-reset-all.png);
    cursor: pointer;
    margin-top: 20px;
    margin-right: 12px;
}

.container.content{
    margin-top: 1px;
}

.container.content section{
    display: flex;
    justify-content: space-between;
    padding: 1px 50px 23px 60px;
    box-sizing: border-box;
}

section .left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section .title{
    width: 116px;
    height: 76px;
    border-top-right-radius: 38px;
    border-bottom-right-radius: 38px;
    background-color: #BADAF3;
}

section .title:last-child{
    background-color: #F7C8DA;
}

section .draw-box{
    width: 1659px;
    height: 403px;
    border-radius: 68px;
    border: 4px solid #75D4FF;
    position: relative;
}

section .triangle-blue{
    position: absolute;
    top: 73px;
    width: 670px;
    height: 256px;
    background-image: url(../img/triangle_blue.png);
    background-repeat: no-repeat;
    background-size: contain;
}
section .triangle-blue.first{
    left: 94px;
}
section .triangle-blue.second{
    left: 893px;
}
section .click-line{
    height: 9px;
    border-radius: 5px;
    position: absolute;
    background-color: transparent;
    cursor: pointer;
}
section .click-line.clicked{
    background-color: #F65439;
}

section .blue-line-1{
    left: -35px;
    top: 121px;
    transform: rotate(-31deg);
    width: 487px;
}
section .blue-line-2{
    left: 367px;
    top: 122px;
    transform: rotate(45deg);
    width: 356px;
}
section .blue-line-3{
    left: 0;
    top: 248px;
    width: 670px;
}

section .triangle-pink{
    position: absolute;
    top: 73px;
    width: 588px;
    height: 256px;
    background-image: url(../img/triangle_pink.png);
    background-repeat: no-repeat;
    background-size: contain;
}

section .triangle-pink.first{
    left: 160px;
}
section .triangle-pink.second{
    left: 915px;
}

section .red-line-1{
    left: -27px;
    top: 121px;
    transform: rotate(-23deg);
    width: 640px;
}

section .red-line-2{
    left: 286px;
    top: 123px;
    transform: rotate(-45deg);
    width: 356px;
}

section .red-line-3{
    left: 0;
    top: 248px;
    width: 340px;
}

/* 쿼티 자판 관련 */
.modal_qwerty{
    position: absolute;
    display: none;
    top: 500px;
    left: 400px;
    width: 1106px;
    height: 496px;
    background: url(../img/keyboard/bg.svg) no-repeat;
    background-size: contain;
    z-index: 9999;
}

.modal_number_pad{
    position: absolute;
    display: none;
    bottom: 30px;
    left: 220px;
    width: 1456px;
    height: 178px;
    background: url(../img/modal/numberPad.svg) no-repeat;
    background-size: contain;
    z-index: 9999;
}

.qbutton32.shift{
    content: url(../img/keyboard/49.svg);
}
.qbutton42.shift{
    content: url(../img/keyboard/49.svg);
}
.qbutton11.shift{
    content: url(../img/keyboard/50.svg);
}
.qbutton12.shift{
    content: url(../img/keyboard/51.svg);
}
.qbutton13.shift{
    content: url(../img/keyboard/52.svg);
}
.qbutton14.shift{
    content: url(../img/keyboard/53.svg);
}
.qbutton15.shift{
    content: url(../img/keyboard/54.svg);
}
.qbutton19.shift{
    content: url(../img/keyboard/55.svg);
}
.qbutton20.shift{
    content: url(../img/keyboard/56.svg);
}

.scaffolding{
    position: absolute;
    left: 25px;
    bottom: 45px;
    width: 561px;
    height: 144px;
    border-radius: 40px;
    border: 4px solid #222222;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scaffolding-content{
   font-family: 'malgunbd', sans-serif;
    font-size: 35px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scaffolding .character{
    width: 131px;
    height: 153px;
    content: url(../img/chara_square.png);
    position: absolute;
    top: 17px;
    right: -55px;
}

.start-dim {
    position: absolute;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'malgunbd', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #58585891;
    line-height: 100vh;
    font-size: min(3.7vw, 8.6vh);
    font-weight: bold;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




