@font-face {
	font-family: 'Pretendard';
	src: url(../fonts/Pretendard-Thin.woff) format('woff');
	font-weight: 100;
	font-display: swap;
}

@font-face {
	font-family: 'Pretendard';
	src: url(../fonts/Pretendard-ExtraLight.woff) format('woff');
	font-weight: 200;
	font-display: swap;
}

@font-face {
	font-family: 'Pretendard';
	src: url(../fonts/Pretendard-Light.woff) format('woff');
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Pretendard';
	src: url(../fonts/Pretendard-Regular.woff) format('woff');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Pretendard';
	src: url(../fonts/Pretendard-Medium.woff) format('woff');
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'NanumSquareRound';
	src: url(../fonts/NanumSquareRoundR.woff) format('woff');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Pretendard';
	src: url(../fonts/Pretendard-SemiBold.woff) format('woff');
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Pretendard';
	src: url(../fonts/Pretendard-Bold.woff) format('woff');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'NanumSquareRound';
	src: url(../fonts/NanumSquareRoundEB.woff) format('woff');
	font-weight: 700;
	font-display: swap;
}

#viewWrap {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	align-items: center;
	background: #fff;

	/*
	
	background: url(../img/all2.png) no-repeat;
	background-size: contain;

*/




}

#viewWrap img{
	pointer-events: none;
}

.wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;

/*


	background: url(../img/all2.png) no-repeat;
	background-size: 1920px 1020px;
*/



}

.wrap * {
	outline: none;
}

section {
	width: 1920px;
	height: 1020px;
	min-height: 1020px;
	position: relative;
	border: 3px solid var(--Color, #EFE5F3)
	/*	background: #00800052;*/

}


ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}


button {
	all: unset;
}



/*************************************************/
/*헤더 푸터*/
/*************************************************/
#header {
	padding-top: 48px;
	padding-left: 25px;
	padding-right: 45px;
}

.reset_btn {
	position: absolute;
	top: 20px;
	right: 15px;
	z-index: 1000;
}
.piece:focus {
            outline: none; /* 포커스 아웃라인 제거 */
        }
#viewWrap img,#contents {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}

#full img {
	width: 76px;
	height: 76px;
}

#reset img {
	width: 76px;
	height: 76px;
}



.flex {
	display: flex;
	justify-content: space-between;
}

.btn-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}



#contents {
	position: relative;
	width: 1920px;
	height: 850px;
	top: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}



footer {
	position: relative;
	top: -230px;
	display: none;
	opacity: 0;
	z-index: 1;
}

/*************************************************/
/*컨텐츠관련*/
/*************************************************/

.main {
	/*	background: url(../img/content.png?ver=1) no-repeat;*/
	width: 1620px;
	height: 500px;
	background-size: contain;
	position: relative;
	z-index: 1;
}




#guide,
#guide2,
#guide3,
#guide4,
#guide5,
#guide6 {
	background: url('../img/cursor.png?ver=1') no-repeat;
	position: absolute;
	width: 80px;
	height: 95px;
	background-size: cover;
	z-index: 100;
	opacity: 0;
	transition: 0.5s linear;
	display: none;
}


#guide.show,
#guide2.show,
#guide3.show,
#guide4.show,
#guide5.show,
#guide6.show {
	opacity: 1;
}

#guide.hide,
#guide2.hide,
#guide3.hide,
#guide4.hide,
#guide5.hide,
#guide6.hide {
	display: none !important;
}

#guide {
top: -30px;
    left: 290px;
}

.title1 img {
	width: 838px;
	margin-left: 49px;
}

.top img {
	width: 1620px;
	height: 451.65px;
	position: relative;
	top: -178px;
}

#chara,
#pop1 {

	position: absolute;
}

#chara img {
	width: 150px;
	height: 220px;
}

#pop1 img {
	width: 1570px;
	height: 120px;
}

#chara {
	left: 87px;
	top: 2px;
	z-index: 1;
}

#pop1 {
	left: 175px;
	top: 102px;
}

.protractor {
	position: absolute;
	bottom: 14px;
	cursor: pointer;
	left: 665px;
}
.protractor.drop{
	cursor: default;
}
.protractor.drop .piece0{
	transition: 0.5s;
}
#guideBox{
	position: absolute;
	z-index: 1000;
}
#guideBox.hide{
	opacity: 0;
	transition: 0.5s;
}#guide.motion{
	transition: 1.5s linear;
    top: -490px;
    left: -350px;
}
.piece_wrap > div {
	position: relative;
}
.piece0{
	position: relative;
	left: 0;
}
.protractor img {
	width: 588.27px;
	height: 295.05px;
}

.numBOx {
	position: absolute;
}

.numBOx img {

	width: 97px;
	height: 51px;
}

.pink {
	left: 522px;
	top: 377px;
	opacity: 0;
}
.numBOx.show {
	transition: 0.5s;
	opacity: 1;
}

.blue {
	left: 1000px;
	top: 377px;
	opacity: 0;
}

.green {
	left: 1540px;
	top: 377px;
	opacity: 0;
}

.angle {
	position: absolute;
	z-index: 1000;
}

.angle1 {
	width: 323px;
	height: 357px;
	top: 68px;
	left: 321px;
}

.angle2 {
	width: 323px;
	height: 326px;
	top: 98px;
	left: 799px;
}

.angle3 {
	width: 390px;
	height: 378.77px;
	top: 92px;
	left: 1264px;
}
#reset,
#full{
	cursor: pointer;
}

/*
.piece_wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0px;
    position: relative;
    top: 560px;
    height: 300px;
}*/
.num {
	width: 40px;
	height: 40px;
	position: absolute;
	opacity: 0;
}
.num.show{
	opacity: 1;
	transition: 0.5s;
}.num.hide{
	opacity: 0;
	transition: 0.5s;
}
.num1-1 {
	top: 310px;
	left: 625px;
}
.num1-2 {
	    top: 258px;
    left: 612px;
}
.num1-3 {
    top: 206px;
    left: 596px;
}
.num1-4 {
    top: 160px;
    left: 562px;
}
.num1-5 {
    top: 116px;
    left: 530px;
}
.num1-6 {
    top: 78px;
    left: 488px;
}
.num1-7 {
top: 49px;
    left: 440px;
}
.num1-8 {
    top: 29px;
    left: 383px;
}


.num2-1 {
    top: 307px;
    left: 1112px;
}
.num2-2 {
     top: 251px;
    left: 1102px;
}
.num2-3 {
 top: 198px;
    left: 1086px;
}
.num2-4 {
top: 150px;
    left: 1055px;
}
.num2-5 {
    top: 106px;
    left: 1025px;
}


.num3-1 {
    top: 235px;
    left: 1620px;
}
.num3-2 {
       top: 187px;
    left: 1594px;
}
.num3-3 {
top: 141px;
    left: 1564px;
}
.num3-4 {
    top: 104px;
    left: 1522px;
}